<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to ForumUsersController.create or ForumUsersController.update,
     depending on whether we are creating or editing an entity -->
<form method="POST" th:action="${user != null} ? @{/users/{id}(id=${user.id})} : @{/users}">
    <div>
        <label for="f1">Name</label>
        <input type="text"
               id="f1"
               required
        name="name"
        th:value="${user?.name}">
    </div>
    <div>
        <label for="f2">Email</label>
        <input type="email"
               id="f2"
               required
        name="email"
        th:value="${user?.email}">
    </div>
    <div>
        <label for="f3">Password</label>
        <!-- Do not set the value here -->
        <input type="password"
               id="f3"
               required
        name="password">
    </div>
    <div>
        <label for="f6">Birthday</label>
        <input type="date"
               id="f6"
               required
        name="birthday"
        th:value="${user?.birthday}">
    </div>
    <div>
        <label>Type</label><br/>
        <select id="f4" name="type">
            <!-- For each type you should have one <option> like below  -->
            <option th:each="t : ${types}" th:text="${t}" th:value="${t}" th:selected="${user?.type == t}"> [type_name]</option>
        </select>
    </div>
    <div>
        <label>Interests</label><br/>
        <select id="f5" multiple name="interestId">
            <!-- For each interest you should have one <option> like below  -->
            <option th:each="i : ${interests}" th:text="${i?.getName()}" th:value="${i?.getId()}" th:selected="${user?.interests?.contains(i)}"> [interest.name]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/users" type="button" class="btn btn-primary">Back to users</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
